/ProjectStructure/06Code/Project Structure Netbeans/GroseryStoreModel/nbproject/private/
/ProjectStructure/08libraries/projectlibrary/nbproject/private/
/ProjectStructure/08libraries/projectlibrary/build/
/ProjectStructure/08libraries/projectlibrary/dist/
/ProjectStructure/06Code/Project Structure Netbeans/GroseryStoreModel/build/
/ProjectStructure/06Code/Project Structure Netbeans/GroseryStoreModel/dist/
/ProjectStructure/08libraries/testejercise/nbproject/private/
/ProjectStructure/08libraries/testejercise/build/